:root {
    --red: #A00F0F;
    --green: #1D8841;
}

html {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.head-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.circle-active .circle-style {
    stroke: #A00F0F;
    stroke-width: 2;
    fill: #A00F0F;
}

.circle-inactive .circle-style {
    stroke: #E1E1E6;
    stroke-width: 2;
    fill: #E1E1E6;
}

.circle-visited .circle-style {
    stroke: green;
    stroke-width: 2;
    fill: green;
}

.text-active .text-style {
    fill: #F9F0F0; /* Change to the desired active text color */
    font-size: 15px; /* Adjust the font size as needed */
}

.text-inactive .text-style {
    fill: #8D8D99; /* Change to the desired inactive text color */
    font-size: 15px; /* Adjust the font size as needed */
}

.text-visited .text-style {
    fill: #F9F0F0; /* Change to the desired visited text color */
    font-size: 15px; /* Adjust the font size as needed */
}

  
.arrow{
    width: 20px;
    height: 20px;
}

.step-label{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.label{
    font-size: 16px;
    font-weight: bold;
}


.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

button[data-next] {
    background-color: #A00F0F; /* Blue */
    color: white; /* Text color */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
  
button[data-next]:hover {
    background-color: #840E0E; /* Darker shade of blue for hover effect */
}

button[data-previous] {
    background-color: #FFFFFF; /* Blue */
    color: #840E0E; /* Text color */
    border: 2px solid #840E0E;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
  
  button[data-previous]:hover {
    color: white;
    background-color: #A00F0F; /* Darker shade of blue for hover effect */
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* min-height: 90vh; */
    max-height: 500px;
    max-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    padding: 20px;
    
}

.page-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    /* border: 5px solid black; */
    max-width: 400px;
    padding: 20px;
    gap: 1rem;
    display: none;
}

.page-container.active{
    display: block;

}
.label {
    font-size: 12px; /* Change this value to your desired font size */
    margin-bottom: 3px;
}

input[type="text"],
input[type="date"],
input[type="textfield"] {
    width: 400px;
    height: 2.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0 0.5rem;
    box-sizing: border-box;
    margin-bottom: 20px;
}

input[type="submit"] {
    background-color: #A00F0F; /* Blue */
    color: white; /* Text color */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
  
input[type="submit"]:hover {
    background-color: #840E0E; /* Darker shade of blue for hover effect */
}