:root {
    --red: #A00F0F;
    --green: #1D8841;
}

html {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.head-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.arrow{
    width: 20px;
    height: 20px;
}

.step-label{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.label{
    font-size: 16px;
    font-weight: bold;
}

.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* min-height: 90vh; */
    max-height: 500px;
    max-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    padding: 20px;
    
}

.page-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    /* border: 5px solid black; */
    max-width: 400px;
    padding: 20px;
    gap: 1rem;
    display: none;
}

.page-container.active{
    display: block;

}
.label {
    font-size: 12px; /* Change this value to your desired font size */
    margin-bottom: 3px;
}

input[type="text"],
input[type="date"],
input[type="textfield"] {
    width: 400px;
    height: 2.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0 0.5rem;
    box-sizing: border-box;
    margin-bottom: 20px;
}
