.content-change{
    color: #363636;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    padding-top: 5%;
    padding-bottom: 5%;
}

.content-change h2{
    color: #00A0B1;
}

.content-change h1{
    font-size: 1.8rem;
}